<div id="home-p" class="home-p pages-head2 text-center">
		<div class="container">
			<h1 class="wow fadeInUp" data-wow-delay="0.1s">Dijital Dünyamıza Katılanlardan Bazıları</h1>
		</div>
	</div>

	<section id="project-p2" class="project-p2">
		<div class="container">
			<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 ourrefs">
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/3kbilisim.jpg">
						<h6>3K BİLİŞİM HİZMETLERİ</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/adenyaresort.jpg">
						<h6>ADENYA RESORT HOTEL &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/artsistem.jpg">
						<h6>ART SİSTEM</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/aykatech.jpg">
						<h6>AYKATECH</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/ayz.jpg">
						<h6>AYZ BİLİŞİM</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/best-technology.jpg">
						<h6>BEST TECHNOLOGY GMBH</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/bex-coffee-chocolate.jpg">
						<h6>BEX COFFEE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/bonex.jpg">
						<h6>BONEX UNLU MAMÜLLER</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/rf-paper.jpg">
						<h6>BÖREKÇİOĞLU UNLU MAMÜLLER</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/kule-shell.jpg">
						<h6>BÜROTİME KULE PETROL</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/rf-paper.jpg">
						<h6>CONCEPTUALISE BV</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/celikkayalar.jpg">
						<h6>ÇELİKKAYALAR</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/daikin.jpg">
						<h6>DAIKIN</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/dest.jpg">
						<h6>DEST BİLGİ TEKNOLOJİLERİ</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/rf-paper.jpg">
						<h6>DOĞAN GROSS MARKETÇİLİK</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/doganay.jpg">
						<h6>DOĞANAY HOTEL &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/ebrar.jpg">
						<h6>EBRAR UNLU LEZZETLER</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/ekmek-konagi.jpg">
						<h6>EKMEK KONAĞI UNLU MAMÜLLER</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/elysee-group.jpg">
						<h6>ELYSEE HOTELS &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/gazioglu-cerez.jpg">
						<h6>GAZİOĞLU PLUS</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/gloriaserenity.jpg">
						<h6>GLORIA SERENITY HOTEL &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/hotelsu.jpg">
						<h6>HOTEL SU &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/ibishotels.jpg">
						<h6>IBIS HOTELS &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/rf-paper.jpg">
						<h6>İBODO</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/inci-cicegi.jpg">
						<h6>İNCİ ÇİÇEĞİ PASTANLERİ</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/istanbul-pastanesi.jpg">
						<h6>İSTANBUL PASTANELERİ</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/rf-paper.jpg">
						<h6>KOMŞU GURME</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/konal.jpg">
						<h6>KONAL İNŞAAT</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/crystal.jpg">
						<h6>KRİSTAL OTELLERİ &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/rf-paper.jpg">
						<h6>Megasat24 BV</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/microbilgiislem.jpg">
						<h6>MICRO BİLGİ İŞLEM</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/mizan-sekerleme.jpg">
						<h6>MİZAN ŞEKERLEME</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/monarkhotel.jpg">
						<h6>MONARK HOTEL &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/mutluerler.jpg">
						<h6>MUTLUERLER – EKMEK &amp; UNLU MAMÜLLER</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/rf-paper.jpg">
						<h6>NATUREL AKTİFLER GIDA</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/rf-paper.jpg">
						<h6>Noble Home</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/novotellogo.jpg">
						<h6>NOVOTEL &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/ozen-yataganli.jpg">
						<h6>ÖZEN YATAĞANLI UNLU MAMÜLLER</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/ozfiliz.jpg">
						<h6>ÖZFİLİZ MAĞAZA EKİPMANLARI</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/ozgur.jpg">
						<h6>ÖZGÜR UNLU MAMÜLLER</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/ozkan-raf.jpg">
						<h6>ÖZKAN RAF</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/pasam-pastanesi.jpg">
						<h6>PAŞAM PASTANELERİ</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/rabi-mobilya.jpg">
						<h6>RABİ MOBİLYA SATIŞ MAĞAZASI</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/serenityqueen.jpg">
						<h6>SERENITY QUENN HOTEL &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/sideprenses.jpg">
						<h6>SİDE PRENSENS HOTEL &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/sidesunport.jpg">
						<h6>SİDE SUNPORT HOTEL &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/rf-paper.jpg">
						<h6>SULTAN’S MARKT</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/yataganl%c4%b1-osmanaga.jpg">
						<h6>YATAĞANLI OSMANAĞA UNLU MAMÜLLER</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/yemenkshvesi.jpg">
						<h6>YEMEN KAHVESİ &amp; AYZ SOFTWARE</h6>
					</div>
				</div>
				<div class="col">
					<div class="story-descb">
						<img src="../../files/referanslar/yilmaz-petrol.jpg">
						<h6>YILMAZ PETROL</h6>
					</div>
				</div>
			</div>
		</div>
	</section>
    
	<app-footer-contact></app-footer-contact>