<section id="about" class="about">
  <div class="container">
    <div class="row title-bar">
      <div class="col-md-12">
        <h1 class="wow fadeInUp">
          DİGİTAL RƏF ETİKETLƏRİ İLƏ RƏQƏMSALLAŞDIRIRQ!
        </h1>
        <div class="heading-border"></div>
        <p class="wow fadeInUp" data-wow-delay="0.4s">
          NeoVision ilə biznesinizdə kağız etiketlərdən istifadə etməyi
          dayandırın və vaxtınıza qənaət edin! Rəqəmsal etiket tətbiqi ilə bütün
          filiallarınızdakı etiketləri tək bir mərkəzdən yeniləyə bilərsiniz..
        </p>
      </div>
    </div>
  </div>
</section>

<section id="home-video">
  <video
    class="w-100"
    autoplay
    muted
    playsinline
    loop
    poster="https://rf-paper.com/files/video-poster.jpg"
  >
    <source src="https://rf-paper.com/files/video.mp4" type="video/mp4" />
    <source src="https://rf-paper.com/files/video.mp4" type="video/webm" />
    Sizin brauzeriniz video dəstəkləmir.
  </video>
  <div class="cover">
    <div class="content">
      <p style="line-height: 1">
        <font color="#ffffff"
          ><span style="font-size: 24px; font-family: 'Arial'"
            >AZƏRBAYCAN&#039;NIN İLK&nbsp;</span
          ><span style="font-family: 'Arial'; font-size: 24px"
            >DİGİTAL RƏF ETİKETİ TƏCHİZATÇISI</span
          ></font
        >
      </p>
    </div>
  </div>
</section>
