<div id="home-p" class="home-p pages-head1 text-center">
  <div class="container">
    <h1 class="wow fadeInUp" data-wow-delay="0.1s">Haqqımızda</h1>
  </div>
</div>

<section id="about-p1">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="about-p1-cont">
          <h1>Haqqımızda</h1>
          <p>
            1982-ci ildə sənaye mətbəx sektorunda başlayan istehsal
            səfərimiz, 2013-cü ildə Aketroniks Elektronik şirkətinin yaradılması ilə
            texnologiya ilə birləşmişdir. Aketroniks Elektronik bir çox fərqli
            sektorlarda maşın avadanlıq istehsalı edən şirkətlərə, gömülü elektronik
            sistemlər istehsal edir. Proses ərzində etdiyi istehsal
            müəssisələri və maşın investisiyaları ilə istehsalına güc qatıb.
          </p>
          <p>
            2020-ci ildə dünyada başlayan pandemiya prosesi ilə artan inflyasiyadan
            dolayı, qiymətlər davamlı dəyişir, şirkətlər etiket dəyişdirməkdə
            çətinliklər yaşayır. Bununla yanaşı pərakəndə sektorunda
            işçi qüvvəsində yaşanan çətinliklərdən dolayı, etiket dəyişiklikləri vaxtında
            edilə bilmir və idarə edilə bilmir. Bu vəziyyət, şirkətləri maddi
            olaraq zərərə uğradırkən etibarını da zədələyir. İnsanlar
            almaq istədiyi məhsulun qiymətini bilmək və görmək istəyir.
            Bu vəziyyət eyni zamanda qanuni bir hüquqdur.
          </p>
          <p>
            Bu səbəblərdən Aketroniks Elektronik keçən on ildə əldə etdiyi
            təcrübələrlə 2022-ci ildə Elektronik Raf Etiketləri istehsalına
            başlamış və Neo-Vision markası ilə satışa təqdim etmişdir.&nbsp;
          </p>
          <p>
            Hər keçən gün istifadəsi sürətlə yayılan Elektronik Raf Etiketləri
            sayəsində düzgün zamanda ani qiymət dəyişikliyi mümkün olur.
            Həftə sonu, yeni il, dini və milli bayramlar kimi xüsusi zaman
            dövrlərində məhsullarla əlaqəli kampaniya qiyməti və detallarını yayımlamaq
            da dəqiqələr ərzində mümkün olur.
          </p>
          <p>
            Son texnologiya E-Paper (Elektronik Kağız) ekranlarla istehsal olunan, çox
            aşağı enerji sərfiyyatı ilə uzun batareya ömrü təqdim edən, simsiz bağlantı
            texnologiyası ilə işləyən Neo-Vision məhsulları sayəsində qiymət dəyişdirmək
            və kampaniya idarəetməsini dəqiqələr ərzində etmək mümkün olur.
          </p>
          <p>
            Məqsədimiz; 40 ili aşan istehsal təcrübəmizlə, mütəxəssis heyət və təcrübəli
            işçilərimiz, müştəri məmnuniyyəti əsaslı iş prinsipi və
            verdiyimiz sözün arxasında duran anlayışımızla sizə ən yaxşı
            şəkildə xidmət göstərməkdir.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-p1-img">
          <img
            src="files/kurumsal.jpg"
            class="img-fluid wow fadeInUp"
            data-wow-delay="0.1s"
            alt="Haqqımızda"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer-contact></app-footer-contact>
