<div id="home-p" class="home-p pages-head1 text-center">
  <div class="container">
    <h1 class="wow fadeInUp" data-wow-delay="0.1s">Haqqımızda</h1>
  </div>
</div>

<section id="about-p1">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="about-p1-cont">
          <h1>Haqqımızda</h1>
          <p>
            Neovision, pərakəndə sektorunun rəqəmsal transformasiyasına töhfə vermək məqsədilə yaradılmış, innovativ
            texnologiyalara əsaslanan bir İT şirkətidir. Şirkətimiz hər nə qədər yeni qurulmuş olsa da, komandamız uzun
            illər ərzində informasiya texnologiyaları, sistem inteqrasiyası, proqram təminatı və texniki dəstək
            sahələrində geniş təcrübə toplamış mütəxəssislərdən ibarətdir.
          </p>
          <p>
            Pərakəndə sahəsində baş verən sürətli inkişaf və rəqabət mühitində texnologiyanın rolu hər zamankindən daha
            önəmlidir. Biz Neovision olaraq bu ehtiyacı qarşılamaq və satış proseslərini daha ağıllı, çevik və effektiv
            hala gətirmək üçün ağıllı mağaza həlləri üzərində ixtisaslaşmışıq.
          </p>
          <p>
            Fəxr edirik ki, dünyada elektron qiymət etiketi (ESL) texnologiyaları sahəsində lider brendlərdən biri olan
            ZKONG firmasının Azərbaycandakı rəsmi distribyutoruyuq. Bu tərəfdaşlıq sayəsində biz ZKONG-un bulud əsaslı
            ESL, LCD və AI inteqrasiyalı sistemlərini ölkəmizdə tətbiq edərək, mağaza idarəçiliyini yeni səviyyəyə
            daşıyırıq.
          </p>
          <h1 style="font-size: 40px;">ZKONG texnologiyaları ilə mağazalarda:</h1>

          <ul>
            <li style="color: #64707d !important;">Qiymət etiketləri saniyələr içində avtomatik yenilənir</li>
            <li style="color: #64707d !important;">Müştəri davranışlarına əsasən reklamlar və vizual kontentlər
              göstərilir</li>
            <li style="color: #64707d !important;">Stok və kampaniyalar real vaxtda idarə olunur</li>
            <li style="color: #64707d !important;">İşçi resursları və xərclər optimallaşdırılır</li>
          </ul>

          <p>
            Neovision olaraq vizyonumuz – texnologiyanın gücünü istifadə edərək, yerli bazarda pərakəndə bizneslərin
            rəqabət qabiliyyətini artırmaq və onlara daha innovativ, ağıllı həllər təqdim etməkdir.
          </p>
          <p>
            Sizə dəyər verən, texnologiyanı biznesinizin xidmətinə çevirən bir tərəfdaş axtarırsınızsa – doğru
            ünvandasınız. Neovision ilə gələcəyin pərakəndəsini bu gündən qurun!
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-p1-img">
          <img src="files/kurumsal.jpg" class="img-fluid wow fadeInUp" data-wow-delay="0.1s" alt="Haqqımızda" />
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer-contact></app-footer-contact>