<footer>
  <div id="footer-s1" class="footer-s1">
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div>
              <img
                src="files/logo.png"
                alt="Neo Vision - Elektronik Raf Etiketi"
              />
            </div>
            <ul class="list-unstyled comp-desc-f">
              <li>
                <p>
                  Neo Vision ilə müəssisənizdə kağız etiket istifadəsinə son qoyun,
                  zamandan qənaət edin! Rəqəmsal etiket tətbiqi ilə, bütün
                  filiallarınızda tək mərkəzdən etiket yeniləməsi
                  edə bilərsiniz.
                </p>
              </li>
            </ul>
            <br />
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="heading-footer">
              <h2>Sürətli Linklər</h2>
            </div>
            <ul class="list-unstyled link-list">
              <li>
                <i class="fas fa-caret-right"></i>
                <a [routerLink]="['/home']" (click)="scrollToTop()" title="Ana Səhifə">Ana Səhifə</a>
              </li>
              <li>
                <i class="fas fa-caret-right"></i>
                <a [routerLink]="['/about']" (click)="scrollToTop()" title="Korporativ">Korporativ</a>
              </li>
              <li>
                <i class="fas fa-caret-right"></i>
                <a [routerLink]="['/products/category/1']" (click)="scrollToTop()" title="Məhsullar">Məhsullar</a>
              </li>
              <li>
                <i class="fas fa-caret-right"></i>
                <a [routerLink]="['/how-it-works']" (click)="scrollToTop()" title="Necə İşləyir">Necə İşləyir</a>
              </li>
              <li>
                <i class="fas fa-caret-right"></i>
                <a [routerLink]="['/galery']" (click)="scrollToTop()" title="Qalereya">Qalereya</a>
              </li>
              <li>
                <i class="fas fa-caret-right"></i>
                <a [routerLink]="['/contact']" (click)="scrollToTop()" title="Əlaqə">Əlaqə</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="heading-footer">
              <h2>Bizimlə Əlaqə</h2> 
            </div>
            <address class="address-details-f">
              Bakı,N.Nərimanov,Təbriz 100/16 <br /> <br />
              <a
              href="void()"
              class="mt-2"
              (click)="openContactOptions('+994516969185', $event)"
            >
              <i class="fas fa-phone pe-2"></i>
              <i class="fab fa-whatsapp"></i>
              +994 51 696 91 85
            </a>
              <br />
              <br />
              <a
              href="void()"
              class="mt-2"
              (click)="openContactOptions('+994516969185', $event)"
            >
              <i class="fas fa-phone pe-2"></i>
              <i class="fab fa-whatsapp"></i>
              +994 70 569 63 73
            </a>
              <br />
              <br />
              <i class="fas fa-envelope"></i>
              <a href="mailto:info@neo-vision.az" title="info@neo-vision.az">info&#64;neo-vision.az</a>
            </address>
            <ul class="list-inline social-icon-f top-data">
              <li>
                <a
                  target="_blank"
                  href="https://www.facebook.com/share/18a9UJBTXd/"
                  rel="nofollow"
                  ><i class="top-social fab fa-facebook"></i
                ></a>
              </li>
              <!-- <li>
                <a
                  target="_blank"
                  href="https://twitter.com/rfpaperesl"
                  rel="nofollow"
                  ><i class="top-social fab fa-twitter"></i
                ></a>
              </li> -->
              <li>
                <a
                  target="_blank"
                  href="https://www.instagram.com/neo_vision.az?igsh=cnpweHM0OHd3MGk3"
                  rel="nofollow"
                  ><i class="top-social fab fa-instagram"></i
                ></a>
              </li>
              <!-- <li>
                <a
                  target="_blank"
                  href="https://www.youtube.com/@RFPaper"
                  rel="nofollow"
                  ><i class="top-social fab fa-youtube"></i
                ></a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/company/rfpaperesl"
                  rel="nofollow"
                  ><i class="top-social fab fa-linkedin"></i
                ></a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="footer-copyrights">
            <p>Müəllif hüququ © 2025 Neo-Vision. Bütün hüquqlar qorunur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    id="back-to-top"
    class="btn btn-sm btn-green btn-rounded rounded-5 btn-back-to-top smooth-scrolls hidden-sm hidden-xs"
    title="home"
    role="button"
    appBackToTop
  >
    <i class="fas fa-angle-up"></i>
  </a>
  <div class="whatsappbut">
    <a href="https://wa.me/+903325026666" target="_blank"
      ><img src="files/whatsapp.png"
    /></a>
  </div>
</footer>

<!-- Modal/Popup for contact options -->
<div *ngIf="showContactOptions" class="contact-options-modal" (click)="closeContactOptions()">
  <div class="contact-options-content" (click)="$event.stopPropagation()">
    <button class="close-x-btn" (click)="closeContactOptions()" aria-label="Bağla">
      <i class="fas fa-times"></i>
    </button>
    <p>Seçim edin:</p>
    <button class="btn btn-success w-100 mb-2" (click)="goToWhatsApp(selectedPhone)"><i class="fab fa-whatsapp"></i> WhatsApp ilə yaz</button>
    <button class="btn btn-primary w-100" (click)="callPhone(selectedPhone)"><i class="fas fa-phone"></i> Zəng et</button>
  </div>
</div>
