<footer>
  <div id="footer-s1" class="footer-s1">
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div>
              <img
                src="files/logo.png"
                alt="RF Paper - Elektronik Raf Etiketi"
              />
            </div>
            <ul class="list-unstyled comp-desc-f">
              <li>
                <p>
                  RF Paper ile; işletmenizde kâğıt etiket kullanımına son verin,
                  zamandan tasarruf edin! Dijital etiket uygulaması ile, tüm
                  şubelerinizde tek merkezden etiket güncellemesi
                  yapabilirsiniz.
                </p>
              </li>
            </ul>
            <br />
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="heading-footer">
              <h2>Hızlı Linkler</h2>
            </div>
            <ul class="list-unstyled link-list">
              <li>
                <i class="fas fa-caret-right"></i>
                <a href="index.html" title="Anasayfa">Anasayfa</a>
              </li>
              <li>
                <i class="fas fa-caret-right"></i>
                <a href="kurumsal/index.html" title="Kurumsal">Kurumsal</a>
              </li>
              <li>
                <i class="fas fa-caret-right"></i>
                <a href="kategoriler/index.html" title="Ürünler">Ürünler</a>
              </li>
              <li>
                <i class="fas fa-caret-right"></i>
                <a href="haberler/index.html" title="Haberler">Haberler</a>
              </li>
              <li>
                <i class="fas fa-caret-right"></i>
                <a href="galeri/index.html" title="Galeri">Galeri</a>
              </li>
              <li>
                <i class="fas fa-caret-right"></i>
                <a href="iletisim/index.html" title="İletişim">İletişim</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="heading-footer">
              <h2>Son Haberler</h2>
            </div>
            <ul class="list-unstyled thumb-list">
              <li>
                <div class="overflow-h">
                  <a
                    href="haberler/rf-paperdan-saglik-sektorune-ozel-cozum-hastanelerde-elektronik-etiket-devri.html"
                    title="RF Paper’dan Sağlık Sektörüne Özel Çözüm: Hastanelerde Elektronik Etiket Devri"
                    >RF Paper’dan Sağlık Sektörüne Özel Çözüm: Hastanelerde
                    Elektronik Etiket Devri</a
                  >
                  <small>11.03.2025</small>
                </div>
              </li>
              <li>
                <div class="overflow-h">
                  <a
                    href="haberler/rf-paper-ile-musteri-deneyimini-yeniden-tanimlayin-gercek-zamanli-fiyat-ve-urun-bilgisi.html"
                    title="RF Paper ile Müşteri Deneyimini Yeniden Tanımlayın: Gerçek Zamanlı Fiyat ve Ürün Bilgisi"
                    >RF Paper ile Müşteri Deneyimini Yeniden Tanımlayın: Gerçek
                    Zamanlı Fiyat ve Ürün Bilgisi</a
                  >
                  <small>23.03.2025</small>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="heading-footer">
              <h2>Bize Ulaşın</h2>
            </div>
            <address class="address-details-f">
              Büyükkayacık OSB Mahallesi 101. Cadde Innopark D4 Blok No: 8/2E
              42160 Selçuklu Konya <br />
              <i class="fas fa-phone"></i> +90 332 502 6666 <br />
              <i class="fab fa-whatsapp"></i>+90 332 502 6666 <br />
              <i class="fas fa-envelope"></i>
              <a href="mailto:info@rf-paper.com" title="info@rf-paper.com"
                >info&#64;rf-paper.com</a
              >
            </address>
            <ul class="list-inline social-icon-f top-data">
              <li>
                <a
                  target="_blank"
                  href="https://www.facebook.com/rfpaperesl"
                  rel="nofollow"
                  ><i class="top-social fab fa-facebook"></i
                ></a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://twitter.com/rfpaperesl"
                  rel="nofollow"
                  ><i class="top-social fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.instagram.com/rfpaperesl/"
                  rel="nofollow"
                  ><i class="top-social fab fa-instagram"></i
                ></a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.youtube.com/@RFPaper"
                  rel="nofollow"
                  ><i class="top-social fab fa-youtube"></i
                ></a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/company/rfpaperesl"
                  rel="nofollow"
                  ><i class="top-social fab fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="footer-copyrights">
            <p>Copyright © 2025 RF Paper. Tüm hakları saklıdır.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    id="back-to-top"
    class="btn btn-sm btn-green btn-back-to-top smooth-scrolls hidden-sm hidden-xs"
    title="home"
    role="button"
  >
    <i class="fas fa-angle-up"></i>
  </a>
  <div class="whatsappbut">
    <a href="https://wa.me/+903325026666" target="_blank"
      ><img src="files/whatsapp.png"
    /></a>
  </div>
</footer>
