<div id="home-p" class="home-p pages-head1 text-center">
  <div class="container">
    <h1 class="wow fadeInUp" data-wow-delay="0.1s">HAKKIMIZDA</h1>
  </div>
</div>

<section id="about-p1">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="about-p1-cont">
          <h1>HAKKIMIZDA</h1>
          <p>
            1982 yılında endüstriyel mutfak sektöründe başlayan üretim
            serüvenimiz, 2013 yılında Aketroniks Elektronik’in kurulmasıyla
            teknoloji ile birleşmiştir. Aketroniks Elektronik pek çok farklı
            sektörde makine ekipman üretimi yapan firmalara, gömülü elektronik
            sistemleri üretmektedir. Süreç içerisinde yapmış olduğu üretim
            tesisleri ve makine yatırımları ile üretimine güç katmıştır.
          </p>
          <p>
            2020 yılında dünyada başlayan pandemi süreciyle artan enflasyondan
            dolayı, fiyatlar sürekli değişmekte, firmalar etiket değiştirmekte
            zorluklar yaşamaktadır. Bunun yanı sıra perakende sektöründe
            işgücünde yaşanan sıkıntılardan dolayı, etiket değişimleri zamanında
            yapılamamakta ve yönetilememektedir. Bu durum, firmaları maddi
            olarak zarara uğratırken itibarlarını da zedelemektedir. İnsanlar
            satın almak istediği ürünün fiyatını bilmek ve görmek istemektedir.
            Bu durum aynı zamanda kanuni bir haktır.
          </p>
          <p>
            Bu nedenlerle Aketroniks Elektronik geçen on yılda edindiği
            tecrübelerle 2022 yılında Elektronik Raf Etiketleri üretimine
            başlamış ve Rf-Paper markası ile satışa sunmuştur.&nbsp;
          </p>
          <p>
            Her geçen gün kullanımı hızla yaygınlaşan Elektronik Raf Etiketleri
            sayesinde doğru zamanda anlık fiyat değişimi mümkün olmaktadır.
            Hafta sonu, yeni yıl, dini ve milli bayramlar gibi özel zaman
            dilimlerinde ürünlerle ilgili kampanya fiyatı ve detayı yayınlamak
            da dakikalar içinde mümkün olmaktadır.
          </p>
          <p>
            Son teknoloji E-Paper (Elektronik Kağıt) ekranlarla üretilen, çok
            düşük enerji tüketimi ile uzun pil ömrü sunan, kablosuz bağlantı
            teknoloji ile çalışan Rf-Paper ürünleri sayesinde fiyat değiştirmek
            ve kampanya yönetimi yapmak dakikalar içinde mümkün olmaktadır.
          </p>
          <p>
            Amacımız; 40 yılı aşan üretim tecrübemizle, uzman kadro ve deneyimli
            personellerimiz, müşteri memnuniyeti odaklı çalışma prensibimiz ve
            verdiğimiz sözün arkasında duran anlayışımızla sizlere en iyi
            şekilde hizmet vermektir.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-p1-img">
          <img
            src="../../files/kurumsal.jpg"
            class="img-fluid wow fadeInUp"
            data-wow-delay="0.1s"
            alt="HAKKIMIZDA"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer-contact></app-footer-contact>
