<header>
    <div class="top-menubar">
        <div class="topmenu">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <ul class="list-inline top-contacts">
                            <li class="d-none d-sm-inline-block">
                                <i class="fas fa-envelope"></i> <a href="mailto:info@rf-paper.com" title="info@rf-paper.com">info&#64;neovision.com</a>
                            </li>
                            <li>
                                <i class="fas fa-phone"></i> <a href="tel:+994 70 202 0 650">+994 70 202 0 650</a>
                            </li>
                            <li class="d-none d-lg-inline-block">
                                <i class="fab fa-whatsapp"></i> <a target="_blank" href="https://wa.me/+994702020650">+994 70 202 0 650</a> 
                            </li>
                            <li>
                                <b><i class="fas fa-user-plus text-danger"></i> <a href="bayi-ol/index.html" class="text-danger">Bayilik Başvurusu</a></b>
                            </li>
                        </ul>
                    </div>
                    <div class="flex-shrink-0 d-none d-md-block ml-auto">
                        <ul class="list-inline top-data">
                            <li><a target="_blank" href="https://www.facebook.com/rfpaperesl" rel="nofollow"><i class="top-social fab fa-facebook"></i></a></li>
                            <li><a target="_blank" href="https://twitter.com/rfpaperesl" rel="nofollow"><i class="top-social fab fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/rfpaperesl/" rel="nofollow"><i class="top-social fab fa-instagram"></i></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/@RFPaper" rel="nofollow"><i class="top-social fab fa-youtube"></i></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/company/rfpaperesl" rel="nofollow"><i class="top-social fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="ml-2">
                        
                        <a href="https://rf-paper.com/en/" class="log-top" title="EN"><i class="flag-icon flag-icon-en"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-toggle="affix">
        <div class="container">
            <a class="navbar-brand smooth-scroll" routerLink="/">
                <img src="../files/logo.png" alt="RF Paper - Elektronik Raf Etiketi">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-shrink-0" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle smooth-scroll" data-toggle="dropdown" id="ndlink-2" aria-haspopup="true" aria-expanded="false" href="kurumsal/index.html">ŞİRKƏT</a>
                        <div class="dropdown-menu dropdown-cust" aria-labelledby="ndlink-2">
                            <a class="dropdown-item" routerLink="about"><span>HAQQIMIZDA</span></a>
                            <!-- <a class="dropdown-item" href="kurumsal/kvkk.html"><span>K.V.K.K.</span></a>
                            <a class="dropdown-item" href="kurumsal/cerez-politikasi.html"><span>ÇEREZ POLİTİKASI</span></a>
                            <a class="dropdown-item" href="kurumsal/mesafeli-satis-sozlesmesi.html"><span>Mesafeli Satış Sözleşmesi</span></a> -->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle smooth-scroll" data-toggle="dropdown" id="ndlink-3" aria-haspopup="true" aria-expanded="false" href="kategoriler/index.html">MƏHSULLAR</a>
                        <div class="dropdown-menu dropdown-cust" aria-labelledby="ndlink-3">
                            <a class="dropdown-item" href="kategoriler/demo-kitleri.html"><span>Demo Kitləri</span></a>
                            <a class="dropdown-item" href="kategoriler/elektronik-raf-etiketleri.html"><span>Elektronik Rəf Etiketləri</span></a>
                            <a class="dropdown-item" href="kategoriler/ozel-elektronik-raf-etiketleri.html"><span>Fərdiləşmiş Elektronik Rəf Etiketləri</span></a>
                            <a class="dropdown-item" href="kategoriler/yardimci-ekipman-ve-yazilimlar.html"><span>Köməkçi Avadanlıq və Proqram Təminatı</span></a>
                            <a class="dropdown-item" href="kategoriler/montaj-aksesuarlari.html"><span>Montaj Aksesuarları</span></a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link smooth-scroll" href="sikca-sorulanlar/index.html">Necə Çalışır?</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle smooth-scroll" data-toggle="dropdown" id="ndlink-10" aria-haspopup="true" aria-expanded="false" href="#">Media</a>
                        <div class="dropdown-menu dropdown-cust" aria-labelledby="ndlink-10">
                            <a class="dropdown-item" href="haberler/index.html"><span>Xəbərlər</span></a>
                            <a class="dropdown-item" href="galeri/index.html"><span>Galareya</span></a>
                            <a class="dropdown-item" href="indirme-merkezi/index.html"><span>Katalog</span></a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link smooth-scroll" href="referanslar/index.html">Referanslar</a></li>
                    <li class="nav-item"><a class="nav-link smooth-scroll" href="iletisim/index.html">ƏLAQƏ</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>