<section id="home">
    <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <!-- Carousel Indicators START -->
        <!-- <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        </div> -->
        <!-- Carousel Indicators END -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="files/slider/slider1.jpeg" class="d-block w-100 carousel-img">
            </div>

        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <div class="carousel-control-border">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </div>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <div class="carousel-control-border">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </div>
        </button> -->
    </div>
</section>