<div id="home-p" class="home-p pages-head1 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">Nasıl Çalışır?</h1>
    </div>
</div>

<section id="faq-p1" class="team-p1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link" [ngClass]="{'active': activeTab === 'nav-2'}" (click)="setTab('nav-2')"
                            id="nav-2-tab" type="button" role="tab" aria-controls="nav-2"
                            [attr.aria-selected]="activeTab === 'nav-2'">
                            ESL Nedir?
                        </button>
                        <button class="nav-link" [ngClass]="{'active': activeTab === 'nav-3'}" (click)="setTab('nav-3')"
                            id="nav-3-tab" type="button" role="tab" aria-controls="nav-3"
                            [attr.aria-selected]="activeTab === 'nav-3'">
                            Nasıl Çalışır?
                        </button>
                        <button class="nav-link" [ngClass]="{'active': activeTab === 'nav-4'}" (click)="setTab('nav-4')"
                            id="nav-4-tab" type="button" role="tab" aria-controls="nav-4"
                            [attr.aria-selected]="activeTab === 'nav-4'">
                            Avantajları Nelerdir?
                        </button>
                    </div>

                    <div class="tab-content p-2" id="nav-tabContent">
                        <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'nav-2'}" id="nav-2"
                            role="tabpanel" aria-labelledby="nav-2-tab">
                            <p>Elektronik raf etiketi, perakende sektöründe kullanılan ve ürün fiyatları, stok
                                bilgileri, promosyonlar ve diğer ilgili bilgileri görüntülemek üzere tasarlanmış bir tür
                                etikettir. Bu etiketler genellikle bir rafın üzerine yerleştirilir ve ürünle ilişkili
                                bilgileri elektronik olarak gösterir. Elektronik raf etiketleri, geleneksel kağıt
                                etiketlere göre bir dizi avantaj sunar.</p>

                            <p class="text-center"><img src="../../files/content/9huctb.png"> </p>
                        </div>
                        <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'nav-3'}" id="nav-3"
                            role="tabpanel" aria-labelledby="nav-3-tab">
                            <p>Rf-Paper uygulamamız, işletmenizde kullandığınız ERP, POS, CRM ve MCR yazılımları ile
                                kolaylıkla entegre edilebilir. Entegrasyon başarıyla tamamlandıktan sonra, ürünleriniz
                                Rf-Paper uygulamamızda listelenir. Bu ürünler, Rf-Paper uygulamasında etiketlerle
                                eşleştirilir. Ardından istediğiniz dizaynı yaparak etiketlere veri aktarabilirsiniz.
                                Dizayn sayfasında QR kod, barkod veya görseller ekleyebilirsiniz. Dizayn ve etiket
                                eşleştirme adımları tamamlandıktan sonra, elektronik etiketleri raflara monte
                                edebilirsiniz. Her türlü montaj şekline uygun aparat çözümlerimiz bulunmaktadır.</p>
                            <p>Elektronik raf etiketlerinin güncellenmesi için Rf-Paper baz istasyonuna ihtiyaç
                                duyulmaktadır. Baz istasyonun kurulumu oldukça basittir; işletmenizde bulunan LAN ağına
                                bağlanarak gerekli ayarlar yapıldıktan sonra kullanıma başlayabilirsiniz.</p>
                            <p>ERP, POS, CRM ve MCR yazılımlarında ürünün satış fiyatını, menşeini, son kullanma
                                tarihini veya üretim tarihini değiştirdiğinizde, Rf-Paper yazılımımız bu değişiklikleri
                                otomatik olarak algılar ve raflarda bulunan etiketleri günceller.</p>
                            <p>Bu işlem, birden fazla şube yönetimi olan yerlerde de tek merkezden kontrol imkânı sunar.
                            </p>
                            <p>Rf-paper uygulamamız offline bir şekilde de çalışmaktadır. Ürünlerinizi manuel olarak
                                ekleyebilir ve etiket üzerinde değişmesi gereken bilgileri Rf-paper uygulaması üzerinden
                                manuel bir şekilde değiştirebilir, etiket yönetimini bilgisayar başında da
                                yapabilirsiniz.&nbsp;</p>
                            <p style="text-align: center; "><img src="../../files/content/5f9t2i.png"><br></p>
                        </div>
                        <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'nav-4'}" id="nav-4"
                            role="tabpanel" aria-labelledby="nav-4-tab">
                            <b>Dinamik Güncellemeler: </b>Fiyat, ürün bilgileri ve stok durumu anlık olarak
                            güncellenebilir. Bu, mağaza yönetiminin fiyatları ve bilgileri hızlıca değiştirmesine olanak
                            tanır.
                            <br><br>
                            <b>Düşük Enerji Tüketimi: </b>Elektronik raf etiketleri genellikle e-ink (elektronik
                            mürekkep) teknolojisi kullanır, bu da düşük enerji tüketimi anlamına gelir. Bu etiketler
                            sadece ekran yenileme sırasında enerji tüketir.
                            <br><br>
                            <b>Yüksek Okunabilirlik: </b>E-ink ekranlar, doğal kağıt gibi görünür ve özellikle aydınlık
                            ortamlarda yüksek okunabilirlik sağlar. Yansıma yapmaz ve göz yormaz.
                            <br><br>
                            <b>Uzun Pil Ömrü: </b>Elektronik raf etiketleri genellikle uzun ömürlü pillerle çalışır. Pil
                            ömrü 5 yıla kadar sürebilir, bu da bakım ve değişim ihtiyacını azaltır.
                            <br><br>
                            <b>Maliyet Tasarrufu: </b>Kağıt etiketlerin ve baskı maliyetlerinin ortadan kalkmasıyla uzun
                            vadede maliyet tasarrufu sağlar. Ayrıca, etiketlerin tekrar kullanılabilirliği de
                            maliyetleri düşürür.
                            <br><br>
                            <b>Gelişmiş Entegrasyon: </b>ERP ve POS sistemleri ile kolayca entegre edilebilir. Bu, stok
                            yönetimini, fiyat güncellemelerini ve veri analitiğini daha verimli hale getirir.
                            <b>Hızlı ve Kolay Kurulum: </b>Etiketler, kablosuz ağlar üzerinden merkezden kolayca
                            güncellenebilir. Bu, mağazanın operasyonel verimliliğini artırır.
                            <br><br>
                            <b>Daha İyi Bilgi Yönetimi: </b>Ürün bilgileri, fiyatlar ve promosyonlar gibi veriler
                            kolayca güncellenebilir ve doğru bilgi her zaman ekranda gösterilir.
                            <br><br>
                            <b>Estetik ve Düzenli Görünüm: </b>Modern bir görünüme sahip olan elektronik raf etiketleri,
                            mağazalarda daha düzenli ve profesyonel bir estetik sağlar.
                            <br><br>
                            <b>Geri Dönüşüm ve Çevre Dostu: </b>Kağıt etiketlerin yerine geçtiği için kağıt tüketimini
                            azaltır ve çevre üzerindeki etkisini minimize eder.
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<app-footer-contact></app-footer-contact>