<section id="shop-p1" class="shop-p1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-2 order-1 order-lg-0">
        <div class="shop-p1-title">
          <h3>Kategoriler</h3>
          <div class="heading-border-light w-100"></div>
        </div>
        <div class="list-group">
          <ng-container *ngFor="let category of categories$ | async">
            <a [routerLink]="['/products', category.slug]" 
               [class.active]="currentCategory === category.slug" 
               class="list-group-item">
              {{ category.name }}
            </a>
            <ng-container *ngIf="showSubcategories(category)">
              <ul class="mb-1">
                <li *ngFor="let subCategory of category.children">
                  <a [routerLink]="['/products', subCategory.slug]" 
                     [class.active]="currentCategory === subCategory.slug" 
                     class="list-group-item mini">
                    {{ subCategory.name }}
                  </a>
                </li>
              </ul>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="col-lg-9 mb-2 order-0 order-lg-1">
        <div class="row">
          <ng-container *ngIf="(products$ | async)?.length; else noProducts">
            <div *ngFor="let product of products$ | async" class="col-6 col-lg-4 mb-4">
              <div class="card">
                <a [routerLink]="['/product', product.id]" [title]="product.name">
                  <img class="card-img-top" [src]="product.imagePath" [alt]="product.name">
                </a>
                <div class="card-body text-center">
                  <div class="card-title">
                    <a [routerLink]="['/product', product.id]" [title]="product.name">
                      <p class="text-danger font-weight-bold m-0">{{ product.stockCode }}</p>
                      {{ product.name }}
                    </a>
                  </div>
                  <div class="cart-icon text-center">
                    <a [routerLink]="['/product', product.id]" title="Ürünü İncele">
                      <i class="fas fa-arrow-alt-circle-right"></i> Ürünü İncele
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noProducts>
            <div class="col-12 text-center py-5">
              <h4>Bu kategoride ürün bulunamadı.</h4>
              <p>Lütfen başka bir kategori seçin veya daha sonra tekrar deneyin.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section> 