<section id="shop-p1" class="shop-p1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Məhsullar</h1>
        <p>Bütün məhsullarımızı kəşf edin</p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-3">
        <div class="shop-p1-title">
          <h3>Kateqoriyalar</h3>
          <div class="heading-border-light w-100"></div>
        </div>
        <div class="list-group">
          <ng-container *ngFor="let category of categories$ | async">
            <a [routerLink]="['/products/category', category.id]" 
               [class.active]="currentCategoryId === category.id" 
               class="list-group-item">
              {{ category.name }}
            </a>
            <ng-container *ngIf="showSubcategories(category)">
              <ul class="mb-1">
                <li *ngFor="let subCategory of category.children">
                  <a [routerLink]="['/products/category', subCategory.id]" 
                     [class.active]="currentCategoryId === subCategory.id" 
                     class="list-group-item mini">
                    {{ subCategory.name }}
                  </a>
                </li>
              </ul>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="col-md-9">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Məhsul axtar..." [(ngModel)]="searchQuery">
        </div>
        <div class="row">
          <ng-container *ngIf="(products$ | async)?.length; else noProducts">
            <div *ngFor="let product of (products$ | async | productFilter: searchQuery)" class="col-6 col-lg-4 mb-4">
              <div class="card">
                <a [routerLink]="['/product', product.id]" [title]="product.name">
                  <img class="card-img-top" [src]="product.imagePath" [alt]="product.name">
                </a>
                <div class="card-body text-center">
                  <div class="card-title">
                    <a [routerLink]="['/product', product.id]" [title]="product.name">
                      <p class="text-danger font-weight-bold m-0">{{ product.stockCode }}</p>
                      {{ product.name }}
                    </a>
                  </div>
                  <div class="cart-icon text-center">
                    <a [routerLink]="['/product', product.id]" title="Məhsulu İncələ">
                      <i class="fas fa-arrow-alt-circle-right"></i> Məhsulu İncələ
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noProducts>
            <div class="col-12 text-center py-5">
              <h4>Bu kateqoriyada məhsul tapılmadı.</h4>
              <p>Zəhmət olmasa, başqa bir kateqoriya seçin və ya daha sonra yenidən cəhd edin.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section> 