<section id="refferences" class="mb-4">
  <div class="container">
    <div class="row title-bar">
      <div class="col-md-12 text-center">
        <h2 class="wow fadeInUp">Rəqəmsal Dünyamıza qoşulan brendlər</h2>
      </div>
    </div>
    <div id="ourrefs" class="owl-carousel owl-theme">
      <div class="item" data-wow-delay="0.3s">
        <div class="story-descb">
          <img src="files/Brands/7 Eleven.png" />
          <h6>7 ELEVEN</h6>
        </div>
      </div>
      <div class="item" data-wow-delay="0.6s">
        <div class="story-descb">
          <img src="files/Brands/CarrefourSA.png" />
          <h6>Carrefour SA</h6>
        </div>
      </div>
      <div class="item" data-wow-delay="0.9s">
        <div class="story-descb">
          <img src="files/Brands/HP 2012.png" />
          <h6>HP</h6>
        </div>
      </div>
      <div class="item" data-wow-delay="0.12s">
        <div class="story-descb">
          <img src="files/Brands/Hyatt Hotels Corporation.png" />
          <h6>Hyatt Hotels Corporation</h6>
        </div>
      </div>
      <div class="item" data-wow-delay="0.15s">
        <div class="story-descb">
          <img src="files/Brands/Mercedes Benz Horizontal.png" />
          <h6>Mercedes Benz</h6>
        </div>
      </div>
      <div class="item" data-wow-delay="0.18s">
        <div class="story-descb">
          <img src="files/Brands/Pepco.png" />
          <h6>Pepco</h6>
        </div>
      </div>
      <div class="item" data-wow-delay="0.21s">
        <div class="story-descb">
          <img src="files/Brands/Sony.jpg" />
          <h6>Sony</h6>
        </div>
      </div>
      <div class="item" data-wow-delay="0.24s">
        <div class="story-descb">
          <img src="files/Brands/Spar New.svg" />
          <h6>Spar</h6>
        </div>
      </div>
      <div class="item" data-wow-delay="0.27s">
        <div class="story-descb">
          <img src="files/Brands/TEKNOSA.png" />
          <h6>TEKNOSA</h6>
        </div>
      </div>
      <div class="item" data-wow-delay="0.30s">
        <div class="story-descb">
          <img src="files/Brands/Vodafone Faroe Islands 2017.png" />
          <h6>Vodafone</h6>
        </div>
      </div>
      <div class="item" data-wow-delay="0.33s">
        <div class="story-descb">
          <img src="files/Brands/Walmart New 2025.png" />
          <h6>Walmart</h6>
        </div>
      </div>
      <div class="item" data-wow-delay="0.36s">
        <div class="story-descb">
          <img src="files/Brands/Xiaomi New 2021 Years.png" />
          <h6>Xiaomi</h6>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a
        class="btn btn-general btn-green"
        role="button"
        routerLink="/references"
        >Hamısına Bax</a
      >
    </div>
  </div>
</section>
