 <div id="home-p" class="home-p pages-head1 text-center">
  	<div class="container">
  		<h1 class="wow fadeInUp" data-wow-delay="0.1s">İndirme Merkezi</h1>
  	</div>
  </div>

  <section id="comp-offer" class="team-p2">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-4 col-sm-6">
  				<div class="team-p2-cont wow fadeInUp text-center" data-wow-delay="0.2s">
  					<a href="files\catalogs\catalog.pdf" target="_blank"><img src="files/katalog/katalog.png" class="img-fluid mb-1" alt="2024 Katalog"></a>
  					<h5>Esl products catalog</h5>
  				</div>
  			</div>
  		</div>
  	</div>
  </section>
	