<section class="areas bg-gradiant">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3">
        <h3>Tətbiq Sahələri</h3>
        <div class="heading-border-light"></div>
        <p class="desc">
          Zkong Esl sektor fərq etmədən çox sahədə tətbiq edilə bilər.
        </p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="what-we-desc">
              <i class="fas fa-shopping-cart"></i>
              <h6>Pərakəndə Sektoru</h6>
              <p class="desc">
                Kassa və rayonlardakı qiymət uyğunsuzluqlarını aradan qaldırır.
                Real vaxt yeniləmə funksiyasının köməyi ilə, etiketləriniz
                həmişə ERP sisteminizdəki ən yeni qiymətləri göstərəcək və
                itkini minimuma endirərək qazancı maksimum səviyyəyə çatdıracaq!
                Yalnız bununla qalmayacaq, eyni zamanda əmək xərclərini
                demək olar ki, tamamilə aradan qaldıraraq effektivliyi artıracaq.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="what-we-desc">
              <i class="fas fa-hotel"></i>
              <h6>Otellər</h6>
              <p class="desc">
                Ziyarətçilərə daha interaktiv və dinamik məlumat təqdim etməyinizə
                kömək edir. Giriş və Çıxış saatlarından Otaq Məlumatlarına
                qədər, ESL sistemi Otellərdə də geniş bir istifadə sahəsinə malik
                ola bilər.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="what-we-desc">
              <i class="fas fa-utensils"></i>
              <h6>Restoranlar</h6>
              <p class="desc">
                Xüsusi təkliflərdən və promosyonlardan masa rezervasiyalarına
                qədər, ESL sistemi zərif bir şəkildə geniş bir sıra məlumat
                göstərə bilər.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="what-we-desc">
              <i class="fas fa-hospital-alt"></i>
              <h6>Xəstəxanalar</h6>
              <p class="desc">
                ESL sistemi, xəstəxanalarda və səhiyyə müəssisələrində Təyinat
                Xatırlatmaları, Yol Tapma Köməyi, Çoxlu Dil Dəstəkli Xəstə
                Məlumatları kimi bir çox istifadə sahəsinə malikdir və daha çox
                xüsusiyyət təqdim edir!
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="what-we-desc">
              <i class="fas fa-school"></i>
              <h6>Məktəb və Kurslar</h6>
              <p class="desc">
                Məktəblər və təhsil mərkəzləri də ESL sistemi ilə fayda əldə edir.
                Tələbələrə və müəllimlərə Kurs Məlumatları, Məktəb Tədbirləri
                və ya İmtahan Məlumatları kimi bir çox məlumatı göstərə bilərsiniz.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="what-we-desc">
              <i class="fas fa-pencil-ruler"></i>
              <h6>Xüsusi Proyektlər</h6>
              <p class="desc">
                ESL sistemi istifadəsi yalnız bağlı sahələrlə məhdud deyil.
                Xüsusi tədbirlərdə, Sərgilər, Bayramlar, Festivallar, Konsertlər
                və bir çox digər açıq hava tədbirlərində məlumat göstərə bilərsiniz.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
