<section class="areas bg-gradiant">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3">
        <h3>Uygulama Alanları</h3>
        <div class="heading-border-light"></div>
        <p class="desc">
          RF Paper sektör fark etmeksizin çok alanda uygulanabilir.
        </p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="what-we-desc">
              <i class="fas fa-shopping-cart"></i>
              <h6>Perakende Sektörü</h6>
              <p class="desc">
                Kasa ve reyonlardaki fiyat uyuşmazlıklarını ortadan kaldırır.
                Gerçek zamanlı güncelleme işlevinin yardımıyla, etiketleriniz
                her zaman ERP sisteminizdeki en yeni fiyatları görüntüleyecek ve
                kaybı en aza indirgeyerek karı en üst seviyeye çıkaracaktır!
                Sadece bununla kalmayacak, aynı zamanda işçilik maliyetlerini
                neredeyse tamamen ortadan kaldırarak etkinliği artıracaktır.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="what-we-desc">
              <i class="fas fa-hotel"></i>
              <h6>Oteller</h6>
              <p class="desc">
                Ziyaretçilere daha etkileşimli ve dinamik bilgi sunmanıza
                yardımcı olur. Giriş ve Çıkış saatlerinden Oda Bilgilerine
                kadar, ESL sistemi Otellerde de geniş bir kullanım alanına sahip
                olabilir.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="what-we-desc">
              <i class="fas fa-utensils"></i>
              <h6>Restoranlar</h6>
              <p class="desc">
                Özel tekliflerden ve promosyonlardan masa rezervasyonlarına
                kadar, ESL sistemi şık bir şekilde geniş bir yelpazede bilgi
                görüntüleyebilir.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="what-we-desc">
              <i class="fas fa-hospital-alt"></i>
              <h6>Hastaneler</h6>
              <p class="desc">
                ESL sistemi, hastanelerde ve sağlık tesislerinde Randevu
                Hatırlatmaları, Yol Bulma Yardımı, Çoklu Dil Destekli Hasta
                Bilgileri gibi birçok kullanım alanına sahiptir ve daha pek çok
                özellik sunar!
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="what-we-desc">
              <i class="fas fa-school"></i>
              <h6>Okul ve Dershaneler</h6>
              <p class="desc">
                Okullar ve öğrenim merkezleri de ESL sistemi ile fayda sağlar.
                Öğrencilere ve öğretmenlere Kurs Bilgileri, Okul Etkinlikleri
                veya Sınav Bilgileri gibi birçok bilgiyi gösterebilirsiniz.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="what-we-desc">
              <i class="fas fa-pencil-ruler"></i>
              <h6>Özel Projeler</h6>
              <p class="desc">
                ESL sistemi kullanımı sadece kapalı alanlarla sınırlı değildir.
                Özel etkinliklerde, Fuarlar, Kutlamalar, Festivaller, Konserler
                ve birçok diğer açık hava etkinliğinde bilgi gösterebilirsiniz.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
