<div id="home-p" class="home-p pages-head2 text-center">
		<div class="container">
			<h1 class="wow fadeInUp" data-wow-delay="0.1s">Galeri</h1>
		</div>
	</div>

	<section id="project-p2" class="project-p2">
		<div class="container">
			<div class="row">
				<div class="col-6 col-md-4 col-xl-3">
					<div class="project-p2-cont">
						<a href="files/galeri/1.jpg" data-fancybox="gallery">
							<img src="files/galeri/1.jpg" class="img-fluid" alt="">
						</a>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-3">
					<div class="project-p2-cont">
						<a href="files/galeri/2.jpg" data-fancybox="gallery">
							<img src="files/galeri/2.jpg" class="img-fluid" alt="">
						</a>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-3">
					<div class="project-p2-cont">
						<a href="files/galeri/3.jpg" data-fancybox="gallery">
							<img src="files/galeri/3.jpg" class="img-fluid" alt="">
						</a>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-3">
					<div class="project-p2-cont">
						<a href="files/galeri/4.jpg" data-fancybox="gallery">
							<img src="files/galeri/4.jpg" class="img-fluid" alt="">
						</a>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-3">
					<div class="project-p2-cont">
						<a href="files/galeri/5.jpg" data-fancybox="gallery">
							<img src="files/galeri/5.jpg" class="img-fluid" alt="">
						</a>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-3">
					<div class="project-p2-cont">
						<a href="files/galeri/6.jpg" data-fancybox="gallery">
							<img src="files/galeri/6.jpg" class="img-fluid" alt="">
						</a>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-3">
					<div class="project-p2-cont">
						<a href="files/galeri/7.jpg" data-fancybox="gallery">
							<img src="files/galeri/7.jpg" class="img-fluid" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	