<section id="contact-h" class="bg-parallax contact-h-bg">
		<div class="container">
			<div class="contact-h-cont">
				<h3 class="cl-white text-center" style="text-transform: capitalize;">Sizə Zəng Edək</h3><br>
				<form class="row" name="form-contact" id="form-contact" method="POST" action="https://rf-paper.com/tr/iletisim/">
					<div class="col-md-6 form-group cl-white">
						<label for="namesurname">Ad Soyad</label>
						<input type="text" class="form-control" id="namesurname" name="namesurname" aria-describedby="name" placeholder="Ad Soyad">
					</div>
					<div class="col-md-6 form-group cl-white">
						<label for="email">E-Poçt Ünvanı</label>
						<input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="E-Poçt Ünvanı">
					</div>
					<div class="col-md-6 form-group cl-white">
						<label for="phone">Telefon</label>
						<input type="text" class="form-control" id="phone" name="phone" aria-describedby="text" placeholder="Telefon">
					</div>
					<div class="col-md-6 form-group cl-white">
						<label for="subject">Mövzu</label>
						<input type="text" class="form-control" id="subject" name="subject" aria-describedby="subject" placeholder="Mövzu">
					</div>
					<div class="col-md-12 form-group cl-white">
						<label for="message">Mesaj</label>
						<textarea class="form-control" id="message" name="message" rows="3"></textarea>
					</div>
					<div class="col-md-12 form-group loading-form">Form göndərilir, zəhmət olmasa gözləyin...</div>
					<div class="col-md-12 form-group error-message" data-msg="Zəhmət olmasa formu tam doldurun."></div>
					<div class="col-md-12 form-group sent-message"></div>
					<div class="col-md-12 form-group cl-white">
						<button type="submit" class="btn btn-general btn-white btn-block" role="button"><i fas fa-right-arrow></i>Göndər</button>
					</div>
				</form>
			</div>
		</div>
	</section>