<section id="advantages" class="advantages">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 bg-starship">
				<div class="advantages-content-box wow fadeInUp" data-wow-delay="0.3s">
					<i class="fas fa-snowflake"></i>
					<h5>Qənaət Edin - Məhsuldarlığınızı Artırın</h5>
					<p class="desc">Elektronik Raf Etiketi, dinamik məlumatları rəqəmsal olaraq göstərmə qabiliyyətləri səbəbiylə müxtəlif pərakəndə və digər mühitlərdə çox yönlü istifadə təqdim edir. </p>
				</div>
			</div>
			<div class="col-md-4 bg-chathams">
				<div class="advantages-content-box wow fadeInUp" data-wow-delay="0.5s">
					<i class="fas fa-leaf"></i>
					<h5>Ətraf Mühit Dostu</h5>
					<p class="desc">Ətraf mühit dostu, gələcək nəsillər üçün kağız istifadəsini aradan qaldıran yeni bir dünya, rəqəmsal texnologiyaların yüksəlişi və davamlı yeniliklərin qəbul edilməsi ilə formalaşır.</p>
				</div>
			</div>
			<div class="col-md-4 bg-matisse">
				<div class="advantages-content-box wow fadeInUp" data-wow-delay="0.7s">
					<i class="fas fa-hourglass"></i>
					<h5>Texnologiyanı Yaxalayın</h5>
					<p class="desc">ESL sistemi vaxt qazandırır, həm də çox vaxt! Elə ki, artıq işçilərinizin etiket dəyişdirmək üçün vaxt itirməsinə ehtiyac qalmayacaq. Etiketlərin özü, ERP sisteminizdəki hər hansı bir qiymət dəyişikliyi ilə eyni anda dəyişəcəkdir.</p>
				</div>
			</div>
		</div>
	</div>
</section>