<section id="advantages" class="advantages">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 bg-starship">
				<div class="advantages-content-box wow fadeInUp" data-wow-delay="0.3s">
					<i class="fas fa-snowflake"></i>
					<h5>Tasarruf Edin - Veriminizi Arttırın</h5>
					<p class="desc">Elektronik Raf Etiketi, dinamik bilgileri dijital olarak görüntüleme yetenekleri nedeniyle çeşitli perakende ve diğer ortamlarda çok yönlü kullanım sunar. </p>
				</div>
			</div>
			<div class="col-md-4 bg-chathams">
				<div class="advantages-content-box wow fadeInUp" data-wow-delay="0.5s">
					<i class="fas fa-leaf"></i>
					<h5>Çevre Dostu</h5>
					<p class="desc">Çevre dostu, gelecek nesiller için kağıt kullanımını ortadan kaldıran yeni bir dünya, dijital teknolojilerin yükselişi ve sürdürülebilir yeniliklerin benimsenmesiyle şekilleniyor.</p>
				</div>
			</div>
			<div class="col-md-4 bg-matisse">
				<div class="advantages-content-box wow fadeInUp" data-wow-delay="0.7s">
					<i class="fas fa-hourglass"></i>
					<h5>Teknolojiyi Yakalayın</h5>
					<p class="desc">ESL sistemi zaman kazandırır, hem de çok zaman! Öyle ki artık çalışanlarınızın etiket değiştirmek için zaman kaybetmesine gerek kalmayacak. Etiketlerin kendisi, ERP sisteminizdeki herhangi bir fiyat değişikliği ile aynı anda değişecektir.</p>
				</div>
			</div>
		</div>
	</div>
</section>