.app-area {
  transition: box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  border-radius: 12px;
  background: #fff;
  text-align: center;
  
  &:hover {
    box-shadow: 0 8px 24px rgba(0,0,0,0.18);
    transform: scale(1.05);
    z-index: 2;
  }
  
  img {
    transition: transform 0.3s;
  }
  &:hover img {
    transform: scale(1.08) ;
  }
 
}
