<section id="products">
  <div class="container">
    <div class="row title-bar">
      <div class="col-md-12 text-center">
        <h2 class="wow fadeInUp">Tətbiq Sahələri</h2>
      </div>
    </div>
    <div class="row row-cols-3 row-cols-lg-6">
      <div class="col">
        <div class="app-area">
          <img src="files/alanlar/1.png" />
          <h6>Pərakəndə Sektoru</h6>
        </div>
      </div>
      <div class="col">
        <div class="app-area">
          <img src="files/alanlar/2.png" />
          <h6>Otellər</h6>
        </div>
      </div>
      <div class="col">
        <div class="app-area">
          <img src="files/alanlar/3.png" />
          <h6>Restoranlar</h6>
        </div>
      </div>
      <div class="col">
        <div class="app-area">
          <img src="files/alanlar/4.png" />
          <h6>Xəstəxanalar</h6>
        </div>
      </div>
      <div class="col">
        <div class="app-area">
          <img src="files/alanlar/5.png" />
          <h6>Məktəb və Kurslar</h6>
        </div>
      </div>
      <div class="col">
        <div class="app-area">
          <img src="files/alanlar/6.png" />
          <h6>Xüsusi Proyektlər</h6>
        </div>
      </div>
    </div>
  </div>
</section>
