<section id="products">
  <div class="container">
    <div class="row title-bar">
      <div class="col-md-12 text-center">
        <h2 class="wow fadeInUp">Tətbiq Sahələri</h2>
      </div>
    </div>
    <div class="row row-cols-3 row-cols-lg-6">
      <div class="col">
        <div class="app-area">
          <img src="files/application-areas/Anbar.png" />
          <!-- <h6>Anbarlar</h6> -->
        </div>
      </div>
      <div class="col">
        <div class="app-area">
          <img src="files/application-areas/Otel.png" />
          <!-- <h6>Otellər</h6> -->
        </div>
      </div>
      <div class="col">
        <div class="app-area">
          <img src="files/application-areas/kafe.png" />
          <!-- <h6>Kafe və Restoranlar</h6> -->
        </div>
      </div>
      <div class="col">
        <div class="app-area">
          <img src="files/application-areas/Aptek.png" />
          <!-- <h6>Apteklər</h6> -->
        </div>
      </div>
      <div class="col">
        <div class="app-area">
          <img src="files/application-areas/Ofis.png" />
          <!-- <h6>Ofislər</h6> -->
        </div>
      </div>
      <div class="col">
        <div class="app-area">
          <img src="files/application-areas/proyekt.png" />
          <!-- <h6>Fərdi Proyektlər</h6> -->
        </div>
      </div>
    </div>
  </div>
</section>
